@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  margin-right: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f2474d;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
body ul {
  list-style: none;
}
body h1 {
  font-size: 46px;
}
body h2 {
  font-size: 40px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Oswald", sans-serif;
}
body a,
body a:hover {
  text-decoration: none;
  color: inherit;
}
body .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body ul {
  list-style: none;
}

#loading_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2474d;
  z-index: 4;
}
#loading_screen img {
  width: 40%;
}

.fadeout_loading {
  opacity: 1;
  -webkit-animation: fade 0.1s linear forwards;
          animation: fade 0.1s linear forwards;
  pointer-events: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  background-color: #f2474d;
}
header #hamurger_menu_container {
  display: none;
}
header .header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
header .header_container .header_left {
  height: 100%;
}
header .header_container .header_left .logo_img {
  height: 100%;
}
header .header_buttons {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #f2474d;
  font-size: 19px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 8px 10px -6px #a75a5a;
  transition: all 0.4s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
}
header .header_buttons:hover {
  color: white;
  background-color: #ff5c5c;
  border: 1px solid white;
  box-shadow: none;
}
header .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 2;
}
header .hamRotate.active {
  transform: rotate(45deg);
}
header .hamRotate180.active {
  transform: rotate(180deg);
}
header .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
header .ham1 .top {
  stroke-dasharray: 40 139;
}
header .ham1 .bottom {
  stroke-dasharray: 40 180;
}
header .ham1.active .top {
  stroke-dashoffset: -98px;
}
header .ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.closed {
  display: none;
}

@media screen and (max-width: 767px) {
  header #hamurger_menu_container {
    display: block;
  }
  header #header_buttons_section {
    display: none;
  }
  header .header_buttons {
    display: block;
  }

  .closed {
    display: none;
  }

  .open {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: #f76969;
    z-index: 999;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 8px 10px -8px #888888;
  }

  #dropdown_menu .header_buttons {
    display: block;
    width: 100%;
    color: #f2474d;
    font-size: 19px;
    padding: 5px 20px;
    margin: 10px 0;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 8px 10px -6px #a75a5a;
    transition: all 0.4s;
  }
  #dropdown_menu .header_buttons:hover {
    color: white;
    background-color: #ff5c5c;
    border: 1px solid white;
    box-shadow: none;
  }
}
.homepage #jumbotron {
  position: relative;
  z-index: 0;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.homepage #jumbotron .container {
  height: 100%;
  padding-top: 50px;
}
.homepage #jumbotron .container .search_container {
  position: relative;
  width: 600px;
  background-color: white;
  padding: 40px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
.homepage #jumbotron .container .search_container::before, .homepage #jumbotron .container .search_container::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.homepage #jumbotron .container .search_container::after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.homepage #jumbotron .container .search_container .input_search_title {
  font-size: 20px;
}
.homepage #jumbotron .container .search_container .search_input_container {
  position: relative;
}
.homepage #jumbotron .container .search_container .search_input_container .input_search,
.homepage #jumbotron .container .search_container .search_input_container .button_search {
  padding: 10px;
  border: none;
}
.homepage #jumbotron .container .search_container .search_input_container .input_search {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
}
.homepage #jumbotron .container .search_container .search_input_container .input_search:focus {
  background-color: #ececec;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background: #ececec;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result {
  display: block;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a3a3a3;
  background: inherit;
  transition: all 0.3s;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result::before, .homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result::after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result:hover {
  background: #d8d8d8;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result:last-child {
  border-bottom: 0;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result .searched_restaurants_result_left {
  width: 20%;
  height: 80px;
  padding: 5px;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result .searched_restaurants_result_left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result .searched_restaurants_result_right {
  width: 80%;
  padding: 5px;
  position: relative;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result .searched_restaurants_result_right p {
  margin-bottom: 5px;
}
.homepage #jumbotron .container .search_container .search_input_container .searched_restaurants_list a.searched_restaurants_result .searched_restaurants_result_right .restaurant-times {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.homepage #jumbotron .container .search_container .hashtag {
  font-weight: 700;
  margin-top: 15px;
}
.homepage #categories {
  padding: 40px 0;
}
.homepage #categories h2 {
  padding: 20px 0;
}
.homepage #categories .categories_choose_category_title {
  display: none;
}
.homepage #categories .cards {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.homepage #categories .cards .swiper-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 314px;
  position: relative;
  z-index: 1;
}
.homepage #categories .cards .swiper-slide {
  position: relative;
  width: 250px;
  height: 250px;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  overflow: hidden;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  background-color: white;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 15px 10px #777;
}
.homepage #categories .cards .swiper-slide span {
  position: relative;
  z-index: 3;
  font-size: 25px;
  color: white;
  transition: all 0.3s;
}
.homepage #categories .cards .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  transition: all 0.3s;
}
.homepage #categories .cards .swiper-slide:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.homepage #categories .cards .swiper-button-next,
.homepage #categories .cards .swiper-button-prev {
  color: #f2474d;
}
.homepage #restaurants_homepage {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 1s;
  background-color: #d9fff8;
}
.homepage #restaurants_homepage.visible_restaurants {
  max-height: 9000px;
  padding: 40px 0;
}
.homepage #restaurants_homepage .container {
  position: relative;
}
.homepage #restaurants_homepage .container .restaurants_lg_title {
  display: block;
}
.homepage #restaurants_homepage .container .restaurants_xs_title {
  display: none;
}
.homepage #restaurants_homepage .container .section-closer {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s;
  color: #f2474d;
}
.homepage #restaurants_homepage .container .section-closer:hover {
  color: #212529;
}
.homepage #restaurants_homepage .restaurants_homepage_container {
  display: flex;
  flex-wrap: wrap;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card {
  position: relative;
  width: calc(100% / 3 - 15px);
  margin: 15px 0;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card:nth-of-type(3n + 2) {
  margin-left: 22.5px;
  margin-right: 22.5px;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card .top_restaurants_homepage_card {
  height: 200px;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card .top_restaurants_homepage_card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card .middle_restaurants_homepage_card {
  padding-bottom: 30px;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card .middle_restaurants_homepage_card h4 {
  margin-top: 10px;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card .bottom_restaurants_homepage_card {
  position: absolute;
  bottom: 0;
  left: 0;
}
.homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card .bottom_restaurants_homepage_card span {
  margin-right: 5px;
}
.homepage #tutorial_card_section {
  padding: 40px 0;
}
.homepage #tutorial_card_section .tutorial_cards_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage #tutorial_card_section .tutorial_cards_container .tutorial_card {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: calc(100vw / 3 - 15px);
}
.homepage #tutorial_card_section .tutorial_cards_container .tutorial_card:nth-child(2) {
  margin: 20px;
}
.homepage #tutorial_card_section .tutorial_cards_container .tutorial_card img {
  max-width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .homepage h2 {
    text-align: center;
    font-size: 26px;
  }
  .homepage #jumbotron {
    height: 500px;
    background-image: url("../img/sfondoresponsive.jpg");
    background-position: bottom;
    background-size: cover;
  }
  .homepage #jumbotron .container {
    padding-top: 30px;
  }
  .homepage #jumbotron .container h1 {
    text-align: center;
    font-size: 30px;
    padding: 0 50px;
    margin-bottom: 20px;
  }
  .homepage #jumbotron .container .search_container {
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  .homepage #jumbotron .container .search_container .input_search_title {
    font-size: 14px;
  }
  .homepage #jumbotron .container .search_container .restaurant-times {
    display: none;
  }
  .homepage #categories {
    padding: 0;
  }
  .homepage #categories h2 {
    padding-bottom: 0;
  }
  .homepage #categories .categories_choose_category_title {
    display: block;
  }
  .homepage #categories .categories_click_category_title {
    display: none;
  }
  .homepage #restaurants_homepage .container h2 {
    text-align: left;
  }
  .homepage #restaurants_homepage .container h2.restaurants_lg_title {
    display: none;
  }
  .homepage #restaurants_homepage .container h2.restaurants_xs_title {
    display: block;
  }
  .homepage #restaurants_homepage .container .section-closer {
    font-size: 22px;
  }
  .homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card {
    width: 100%;
  }
  .homepage #restaurants_homepage .restaurants_homepage_container .restaurants_homepage_card:nth-of-type(3n + 2) {
    margin-left: 0;
    margin-right: 0;
  }
  .homepage #tutorial_card_section {
    padding: 0;
  }
  .homepage #tutorial_card_section h2 {
    padding-top: 10px;
  }
  .homepage #tutorial_card_section .tutorial_cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .homepage #tutorial_card_section .tutorial_cards_container .tutorial_card {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .homepage #jumbotron {
    background-image: url("../img/sfondo-header.png");
  }
}
.restaurant_page main {
  min-height: calc(100vh - 392px);
  background-color: #eee;
}
.restaurant_page main #shop_restaurant_top {
  border-bottom: 1px solid white;
  box-shadow: 0px 8px 10px -12px #888888;
  background-color: white;
  padding: 40px 0;
}
.restaurant_page main #shop_restaurant_top .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurant_page main #shop_restaurant_top .container .left {
  width: 70%;
}
.restaurant_page main #shop_restaurant_top .container .left p {
  margin: 0;
  color: #828585;
}
.restaurant_page main #shop_restaurant_top .container .left .shop_restaurant_address {
  margin-bottom: 10px;
}
.restaurant_page main #shop_restaurant_top .container .right {
  width: 30%;
  text-align: right;
}
.restaurant_page main #shop_restaurant_top .container .right img {
  width: 100%;
  border-radius: 5px;
}
.restaurant_page main #shop_restaurant_bottom {
  padding: 40px 0;
}
.restaurant_page main #shop_restaurant_bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 70%;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates {
  display: flex;
  height: 150px;
  width: calc(100% / 2 - 5px);
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_left {
  width: 70%;
  padding: 0 10px;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_left i.fas {
  cursor: pointer;
  transition: color 0.4s;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_left i.fas.fa-info-circle {
  color: #54c954;
  font-size: 16px;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_left i.fas.fa-info-circle:hover {
  color: #95cc87;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_left i.fas.fa-plus-circle {
  color: #8ab34d;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_left i.fas.fa-plus-circle:hover {
  color: #9ac98e;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_right {
  width: 30%;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .shop_card_plates_right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates p {
  color: #f2474d;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .disable {
  cursor: not-allowed;
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .disable img {
  filter: grayscale(1);
}
.restaurant_page main #shop_restaurant_bottom .container .plates_container .disable h3, .restaurant_page main #shop_restaurant_bottom .container .plates_container .disable h5, .restaurant_page main #shop_restaurant_bottom .container .plates_container .disable .ingredients {
  color: #6d6d6d;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart {
  position: sticky;
  top: 0;
  width: 29%;
  min-height: 150px;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart .shop_cart_empty_button {
  cursor: not-allowed;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart .shop_cart_empty_button .shop_cart_button {
  display: inline-block;
  color: white;
  width: 100%;
  background-color: #E2E5E5;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart .shop_cart_empty_content {
  text-align: center;
  font-size: 16px;
  color: #E2E5E5;
  padding-top: 30px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top {
  border-bottom: 1px solid #E0E8E8;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top .shop_cart_button {
  display: inline-block;
  color: white;
  width: 100%;
  background-color: #0EC5BF;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top .shop_cart_button:hover {
  color: white;
  background-color: #0cada8;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top ul {
  list-style: none;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top ul div {
  margin-top: 15px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top ul .cart_left_div {
  float: left;
  padding-right: 5px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top ul .cart_left_div .fas {
  color: #0EC5BF;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top ul .cart_left_div span {
  padding: 0 5px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top ul .cart_middle_div {
  display: inline-block;
  max-width: 60%;
  padding-left: 10px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_top ul .cart_right_div {
  float: right;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_bottom {
  padding-top: 15px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_bottom #shop_cart_bottom_delivery {
  display: flex;
  justify-content: space-between;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_bottom #shop_cart_bottom_total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.restaurant_page main #shop_restaurant_bottom .container .shop_cart #shop_cart_bottom #shop_cart_bottom_total #item_plate {
  display: inline-block;
}
.restaurant_page .shop_box_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
}
.restaurant_page .shop_box_container .shop_restaurant_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}
.restaurant_page .shop_box_container .shop_restaurant_box .top {
  background-color: #f2474d;
  padding: 13px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 2px;
}
.restaurant_page .shop_box_container .shop_restaurant_box .top h2 {
  color: #f6bfc2;
}
.restaurant_page .shop_box_container .shop_restaurant_box .bottom {
  padding: 15px;
  background-color: #ddd;
  border-radius: 0 0 5px 5px;
}
.restaurant_page .shop_box_container .shop_restaurant_box .bottom img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.restaurant_page .shop_box_container .shop_restaurant_box .bottom .button_shop {
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #0EC5BF;
  color: white;
}

.price_animation {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1000px) {
  .restaurant_page main #shop_restaurant_bottom .container {
    flex-wrap: wrap-reverse;
  }
  .restaurant_page main #shop_restaurant_bottom .container .plates_container {
    margin-top: 10px;
    width: 100%;
  }
  .restaurant_page main #shop_restaurant_bottom .container .shop_cart {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .restaurant_page main #shop_restaurant_bottom .container {
    flex-wrap: wrap-reverse;
  }
  .restaurant_page main #shop_restaurant_bottom .container .plates_container {
    margin-top: 10px;
    width: 100%;
  }
  .restaurant_page main #shop_restaurant_bottom .container .plates_container .shop_card_plates {
    width: 100%;
  }
  .restaurant_page main #shop_restaurant_bottom .container .shop_cart {
    width: 100%;
  }
  .restaurant_page .shop_box_container .shop_restaurant_box {
    width: 90%;
  }
}
.dashboard {
  position: relative;
}
.dashboard main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user_index #dashboard_index_center {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: calc(100vh - 100px);
  background-color: white;
}
.user_index #dashboard_index_center .dashboard_card {
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  padding: 10px;
  border: 2px solid #ffc966b9;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}
.user_index #dashboard_index_center .dashboard_card h2 {
  padding-bottom: 28px;
  border-bottom: 1px solid #ffc966b9;
  text-align: center;
}
.user_index #dashboard_index_center .dashboard_card.info_restaurant {
  overflow-y: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.user_index #dashboard_index_center .dashboard_card.info_restaurant ul {
  margin-top: 40px;
}
.user_index #dashboard_index_center .dashboard_card.info_restaurant ul li {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}
.user_index #dashboard_index_center .dashboard_card.info_restaurant ul li i {
  margin-right: 5px;
  color: #ffc966b9;
}
.user_index #dashboard_index_center .dashboard_card.img_restaurant img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.user_index #dashboard_index_center .dashboard_card.orders_list {
  overflow-y: auto;
  padding-left: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
.user_index #dashboard_index_center .dashboard_card.orders_list .orders_card {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #ffc966b9;
}
.user_index #dashboard_index_center .dashboard_card.orders_list .orders_card h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ffc966b9;
}
.user_index #dashboard_index_center .dashboard_card.orders_list .orders_card p {
  font-size: 17px;
}
.user_index #dashboard_index_center .dashboard_card.orders_list .orders_card .orders_card_total_price {
  display: flex;
  justify-content: space-between;
}
.user_index #dashboard_index_center .dashboard_card.orders_list .orders_card .orders_card_total_price .price_span {
  margin-right: 40px;
}
.user_index #dashboard_index_center .dashboard_card.orders_list .circle_price {
  font-size: 10px;
}
.user_index #dashboard_index_center .dashboard_card.chart_restaurant {
  overflow-y: auto;
}
.user_index #dashboard_index_center .dashboard_card.chart_restaurant canvas {
  width: 100%;
}
.user_index #dashboard_orders {
  height: 100%;
}
.user_index #dashboard_orders .dashboard_orders_top {
  height: 40%;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 2px solid black;
}
.user_index #dashboard_orders .dashboard_orders_bottom {
  height: 60%;
}
.user_index .dashboard_side_menu {
  width: 20%;
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #ffc966b9;
}
.user_index .dashboard_side_menu li {
  padding: 30px 50px;
}
.user_index .dashboard_side_menu li:not(:last-of-type) {
  border-bottom: 1px solid rgba(153, 99, 0, 0.7254901961);
}
.user_index .dashboard_side_menu li .buttons_style {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #f2474d;
  font-size: 19px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 8px 10px -6px #a75a5a;
  transition: all 0.4s;
}
.user_index .dashboard_side_menu li .buttons_style:hover {
  color: white;
  background-color: #ff5c5c;
  border: 1px solid white;
  box-shadow: none;
}

.plates_index main {
  height: calc(100vh - 100px);
}
.plates_index main .plates_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: calc(100vh - 100px);
  padding: 15px;
  overflow-y: auto;
}
.plates_index main .plates_bottom .plate {
  width: calc(100% / 4 - 30px);
  margin: 15px;
}
.plates_index main .plates_bottom .plate img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.plates_index main form {
  display: flex;
  flex-wrap: wrap;
}
.plates_index main form .btn {
  margin-right: 10px;
}
.plates_index main .dashboard_side_menu {
  width: 20%;
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #ffc966b9;
}
.plates_index main .dashboard_side_menu li {
  padding: 30px 50px;
}
.plates_index main .dashboard_side_menu li:not(:last-of-type) {
  border-bottom: 1px solid rgba(153, 99, 0, 0.7254901961);
}
.plates_index main .dashboard_side_menu li .buttons_style {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #f2474d;
  font-size: 19px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 8px 10px -6px #a75a5a;
  transition: all 0.4s;
}
.plates_index main .dashboard_side_menu li .buttons_style:hover {
  color: white;
  background-color: #ff5c5c;
  border: 1px solid white;
  box-shadow: none;
}

.plate_edit main {
  padding: 40px 0 0;
  margin-bottom: 50px;
}
.plate_edit main img {
  margin-top: 10px;
  width: 200px;
}

.plate_show main {
  padding: 40px 0 0;
}
.plate_show main .fa-check {
  padding: 5px;
  border-radius: 5px;
  background-color: steelblue;
  color: springgreen;
}

.user_orders main {
  height: calc(100vh - 100px);
}
.user_orders main #dashboard_orders {
  width: 80%;
  padding: 15px;
  overflow-y: auto;
}
.user_orders main .dashboard_side_menu {
  width: 20%;
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #ffc966b9;
}
.user_orders main .dashboard_side_menu li {
  padding: 30px 50px;
}
.user_orders main .dashboard_side_menu li:not(:last-of-type) {
  border-bottom: 1px solid rgba(153, 99, 0, 0.7254901961);
}
.user_orders main .dashboard_side_menu li .buttons_style {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #f2474d;
  font-size: 19px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 8px 10px -6px #a75a5a;
  transition: all 0.4s;
}
.user_orders main .dashboard_side_menu li .buttons_style:hover {
  color: white;
  background-color: #ff5c5c;
  border: 1px solid white;
  box-shadow: none;
}

@media screen and (max-width: 1280px) {
  .dashboard .dashboard_side_menu {
    display: none;
  }
  .dashboard header #hamurger_menu_container {
    display: block;
  }
  .dashboard header .closed {
    display: none;
  }

  .plates_index main .plates_bottom {
    width: 100%;
    align-content: flex-start;
  }
  .plates_index main .plates_bottom .plate {
    width: calc(100% / 2 - 30px);
  }
}
@media screen and (max-width: 767px) {
  .dashboard main #dashboard_index_center {
    width: 100%;
    height: 100%;
  }
  .dashboard main #dashboard_index_center .dashboard_card {
    width: 100%;
    height: 100%;
  }
  .dashboard main #dashboard_index_center .dashboard_card.orders_list {
    height: 300px;
  }

  .plates_index main .plates_bottom {
    justify-content: center;
    width: 100%;
  }
  .plates_index main .plates_bottom .plate {
    width: 100%;
  }
}
.open {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  padding: 20px;
  background-color: #f76969;
  z-index: 999;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0px 8px 10px -8px #888888;
}

#dropdown_menu .header_buttons {
  display: block;
  width: 100%;
  color: #f2474d;
  font-size: 19px;
  padding: 5px 20px;
  margin: 10px 0;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 8px 10px -6px #a75a5a;
  transition: all 0.4s;
}
#dropdown_menu .header_buttons:hover {
  color: white;
  background-color: #ff5c5c;
  border: 1px solid white;
  box-shadow: none;
}

.payment main .container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.payment main .container .left {
  width: 70%;
  padding-right: 10px;
}
.payment main .container .left form {
  display: flex;
  flex-direction: column;
}
.payment main .container .left form label {
  margin-top: 10px;
}
.payment main .container .left form input[type=text],
.payment main .container .left form input[type=time],
.payment main .container .left form textarea {
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ddd;
}
.payment main .container .left form input[type=submit],
.payment main .container .left form a {
  background-color: #0EC5BF;
  color: white;
}
.payment main .container .right {
  width: 30%;
}
.payment .shop_cart {
  position: sticky;
  top: 0;
  min-height: 150px;
  margin-top: 104px;
  padding: 15px;
  border: 2px solid #0EC5BF;
  border-radius: 5px;
  background-color: white;
}
.payment .shop_cart .shop_cart_empty_button {
  cursor: not-allowed;
}
.payment .shop_cart .shop_cart_empty_button .shop_cart_button {
  display: inline-block;
  color: white;
  width: 100%;
  background-color: #E2E5E5;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
}
.payment .shop_cart .shop_cart_empty_content {
  text-align: center;
  font-size: 16px;
  color: #E2E5E5;
  padding-top: 30px;
}
.payment .shop_cart #shop_cart_top {
  border-bottom: 1px solid #E0E8E8;
}
.payment .shop_cart #shop_cart_top .title_top {
  font-weight: bold;
}
.payment .shop_cart #shop_cart_bottom {
  padding-top: 15px;
}
.payment .shop_cart #shop_cart_bottom #shop_cart_bottom_delivery {
  display: flex;
  justify-content: space-between;
}
.payment .shop_cart #shop_cart_bottom #shop_cart_bottom_total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.payment .shop_cart #shop_cart_bottom #shop_cart_bottom_total #item_plate {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .payment main .container {
    padding: 15px;
    flex-wrap: wrap-reverse;
  }
  .payment main .container h1 {
    display: none;
  }
  .payment main .container .left, .payment main .container .right {
    width: 100%;
  }
}
.checkout main {
  min-height: calc(100vh - 392px);
  padding: 50px 0;
}
.checkout main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout main .container a {
  padding: 15px;
  background-color: #f2474d;
  border-radius: 5px;
  color: white;
}
.checkout main .container img {
  width: 200px;
  margin: 20px 0;
}

@media screen and (max-width: 767px) {
  main .container h1 {
    text-align: center;
  }
}
footer {
  background-color: #26272b;
  color: #737373;
}
footer .footer_top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
  border-bottom: 2px solid #737373;
}
footer .footer_top .items:nth-child(2) {
  width: 350px;
}
footer .footer_top h4 {
  font-weight: bold;
  border-bottom: 2px solid #737373;
  display: inline-block;
  padding-bottom: 5px;
}
footer .footer_top p {
  max-width: 75%;
}
footer .footer_top ul {
  list-style: none;
}
footer .footer_top ul li {
  text-decoration: none;
}
footer .footer_top ul li a {
  color: #737373;
}
footer .footer_top ul li a:hover {
  text-decoration: none;
  color: #fdfeff;
}
footer .footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
footer .footer_bottom .footer_bottom_left {
  width: 50%;
}
footer .footer_bottom .footer_bottom_right {
  text-align: right;
}
footer .footer_bottom .footer_bottom_right ul {
  margin: 0;
  padding: 0;
  display: flex;
}
footer .footer_bottom .footer_bottom_right ul li {
  list-style: none;
}
footer .footer_bottom .footer_bottom_right ul li a {
  position: relative;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(7, 7, 7, 0.267);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}
footer .footer_bottom .footer_bottom_right ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
footer .footer_bottom .footer_bottom_right ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #a5a3a3);
  border-radius: 50%;
  line-height: calc(35px - 13px);
  font-size: 16px;
  color: #262626;
  transition: 0.5s;
}
footer .footer_bottom .footer_bottom_right ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}
footer .footer_bottom .footer_bottom_right ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}
footer .footer_bottom .footer_bottom_right ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}
footer .footer_bottom .footer_bottom_right ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}
footer .footer_bottom .footer_bottom_right ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

@media screen and (max-width: 767px) {
  footer .footer_top h4 {
    font-size: 18px;
  }
  footer .footer_top .items {
    width: 100%;
  }
}
