* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Oswald', sans-serif;

    h2 {
        font-size: 40px;
    }

    a, 
    a:hover {
        text-decoration: none;
        color: inherit;
    }
}







