* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}
// scrollbar
::-webkit-scrollbar{
   width: 6px;
   margin-right: 2px;
   background-color: transparent;
}
::-webkit-scrollbar-thumb{
   border-radius: 10px;
   box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: $delivebooColor;
}

// !scrollbar

body { 
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Oswald', sans-serif;

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 40px;
    }

    a, 
    a:hover {
        text-decoration: none;
        color: inherit;
    }
}






