.dashboard {
  position: relative;

  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
  }
  
}

.user_index {
  #dashboard_index_center {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: calc(100vh - 100px);
    background-color: $cardSecondaryColorUser;

    .dashboard_card {
      width: calc(50% - 20px);
      height: calc(50% - 20px);
      padding: 10px;
      border: 2px solid $secondColorUser;
      border-radius: 5px;
      margin: 10px;
      background-color: $cardPrimaryColorUser;

      h2 {
        padding-bottom: 28px;
        border-bottom: 1px solid $secondColorUser;
        text-align: center;
      }

      &.info_restaurant {
        overflow-y: auto;
        padding-left: 30px;
        padding-right: 30px;

        ul {
          margin-top: 40px;
          
          li {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 20px;
  
            i {
              margin-right: 5px;
              color: $secondColorUser;
            }
          }
        }
      }

      &.img_restaurant {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      &.orders_list{
        overflow-y: auto;
        padding-left: 40px;
        padding-left: 30px;
        padding-right: 30px;

        .orders_card {
          width: 100%;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 5px;
          color: white;
          background-color: $cardSecondaryColorUser;

          h4 {
            padding-bottom: 5px;
            border-bottom: 1px solid $secondColorUser;
          }

          p {
            font-size: 17px;
          }

          .orders_card_total_price {
            display: flex;
            justify-content: space-between;
            
            .price_span {
              margin-right: 40px;
            }
          }
        }

        .circle_price{
          font-size: 10px;
          
        }
      }

      &.chart_restaurant {
        overflow-y: auto;
        canvas {
          width: 100%;             
        }
      }
    }
  }

  #dashboard_orders {
    height: 100%;

    .dashboard_orders_top {
      height: 40%;
      padding: 20px;
      overflow-y: auto;
      border-bottom: 2px solid black;
    }

    .dashboard_orders_bottom {
      height: 60%;
    }
  }

  .dashboard_side_menu {
    width: 20%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: $secondColorUser;

    li {
      &:not(:last-of-type) {
        border-bottom: 1px solid darken($secondColorUser, 10%);
      }

      padding: 30px 50px;
      h3 {
        color: white;
        font-size: 2em;
      }

      .buttons_style {
        @include deliveboo_buttons_side;
      }
    }
  }
}

.restaurant_edit, .user_create {
  main {
    background-color: $secondColorUser;
    // color: white;

    .container {
      padding: 50px 0;

      h2 {
        color: white;
      }

      label {
        color: white;
      }

      input, textarea {
        background-color: $cardPrimaryColorUser;
      }

      img {
        margin-top: 10px;
        width: 300px;
      }
      .btn {
        background-color: $secondColorClient;
        border: 0;
      }
    }  
  }
}

.plates_index {
  main {
    height: calc(100vh - 100px);
    background-color: $cardSecondaryColorUser;
    
    .plates_bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      width: 80%;
      height: 100%;
      padding: 15px;
      overflow-y: auto;
      .plate {
        width: calc(100% / 4 - 30px);
        margin: 15px;
        border: 1px solid $secondColorUser;
        .scroll {
          height: 150px;
          overflow-y: auto;
          margin-bottom: 10px;
        }
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          object-position: center;
        }
        .btn:not(:last-child) {
          background-color: $secondColorClient;
          border: none;
        }
        .btn {
          font-weight: 600;
        }
      }
    }
    form {
      display: flex;
      flex-wrap: wrap;
      .btn {
        margin-right: 10px;
      }
    }

    .dashboard_side_menu {
      width: 20%;
      height: calc(100vh - 100px);
      overflow-y: auto;
      background-color: $secondColorUser;
    
      li {
        padding: 30px 50px;
        h3 {
          color: white;
          font-size: 2em;
        }
    
        &:not(:last-of-type) {
          border-bottom: 1px solid darken($secondColorUser, 10%);
        }
        
        .buttons_style {
          @include deliveboo_buttons_side;
        }
      }
    }
  }
}

.plate_edit, .plate_create {
  background-color: $secondColorUser;

  main {
    padding: $verticalPaddingSections 0;
    padding-bottom: 50px;
    color: white;

    input, textarea {
      background-color: $cardPrimaryColorUser;
    }

    img {
      margin-top: 10px;
      width: 200px;
    }
    .btn {
      background-color: $secondColorClient;
      border: 0;
    }
  }
}

// pagina degli ordini
.user_orders {
  main {
    height: calc(100vh - 100px);
    #dashboard_orders {
      display: flex;
      width: 80%;
      height: 100%;
      background-color: $cardSecondaryColorUser;
      overflow-y: auto;
      
      .dashboard_orders_left {
        width: 50%;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        border-right: 2px solid $secondColorUser;
        overflow-y: auto;

        h2 {
          color: white;
        }

        .orders_card {
          display: flex;
          width: 100%;
          margin-bottom: 20px;
          border: 1px solid;
          border-radius: 5px;
          border: 2px solid $secondColorUser;
          background-color: $cardPrimaryColorUser;

          .orders_card_left {
            width: 50%;
            padding: 10px 15px;
            font-size: 16px;
            font-weight: 700;
            word-break: break-all;

            p {
              span {
                color: $delivebooColor;
              }
            }
          }

          .orders_card_right {
            width: 50%;
            padding: 5px;

            ul {
              display: flex;
              flex-wrap: wrap;
              
              li {
                width: calc(100% / 2 - 10px);
                margin: 5px;

                img {
                  width: 100%;
                  height: 100px;
                  object-fit: cover;
                  border-radius: 5px;
                }

                p {
                  margin: 0;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }

      }

      .dashboard_orders_right {
        width: 50%;
        padding: 50px;

        .dashboard_orders_right_top {
          width: 100%;
          height: 50%;
          // border-bottom: 2px solid $secondColorUser;
          border-radius: 5px;
          background-color: $cardPrimaryColorUser;
        }
  
        .dashboard_orders_right_bottom {
          width: 100%;
          height: 50%;
          margin-top: 20px;
          border-radius: 5px;
          background-color: $cardPrimaryColorUser;
        }
      }
    }
    .dashboard_side_menu {
      width: 20%;
      height: calc(100vh - 100px);
      overflow-y: auto;
      background-color: $secondColorUser;
    
      li {
        padding: 30px 50px;
        h3 {
          color: white;
          font-size: 2em;
        }
    
        &:not(:last-of-type) {
          border-bottom: 1px solid darken($secondColorUser, 10%);
        }
        
        .buttons_style {
          @include deliveboo_buttons_side;
        }
      }
    } 
  }
}

@media screen and (max-width: 1400px) {
  .dashboard {
    main {
      .dashboard_side_menu {
        li {
          padding: 20px 40px;
          h3 {
            color: white;
            font-size: 1.5em;
          }
  
          .buttons_style {
            font-size: 16px;
          }
        }
      }
    }
  }

  .user_index {
    #dashboard_index_center {
  
      .dashboard_card {
        h2 {
          font-size: 30px;
          padding-bottom: 10px;
        }
  
        &.info_restaurant {
          padding-left: 30px;
          padding-right: 30px;
  
          ul {
            margin-top: 10px;
            
            li {
              margin-bottom: 10px;
              font-size: 14px;
    
              i {
                margin-right: 5px;
              }
            }
          }
        }
  
        &.orders_list{
          overflow-y: auto;
  
          .orders_card {
            margin-bottom: 5px;
  
            p {
              font-size: 13px;
            }
  
            .orders_card_total_price {
              
              .price_span {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }

  .user_orders {
    main {
      #dashboard_orders {
        
        .dashboard_orders_left {
          padding-top: 10px;
          padding-left: 30px;
          padding-right: 30px;
  
          h2 {
            font-size: 30px;
          }
  
          .orders_card {
            margin-bottom: 10px;
  
            .orders_card_left {
              font-size: 13px;
  
              p {
                margin-bottom: 10px;
                span {
                  color: $delivebooColor;
                }
              }
            }
  
            .orders_card_right {
              width: 50%;
              padding: 5px;
  
              ul {
                display: flex;
                flex-wrap: wrap;
                
                li {
                  width: calc(100% / 3 - 6px);
                  margin: 3px;
  
                  img {
                    width: 100%;
                    height: 50px;
                  }
  
                  p {
                    margin: 0;
                    font-size: 11px;
                    line-height: 12px;
                  }
                }
              }
            }
          }
  
        }
  
        .dashboard_orders_right {
          width: 50%;
          padding: 30px;
  
          .dashboard_orders_right_top,
          .dashboard_orders_right_bottom {
            padding: 10px;
            overflow-y: auto;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .dashboard {
    .dashboard_side_menu {
      display: none;
    }

    header {

      #hamurger_menu_container {
        display: block;
      }

      .closed {
        display: none;
      }
    }

    #dashboard_index_center {
      width: 100%;
    }
  }

  .plates_index {
    main {
      .plates_bottom {
        width: 100%;
        .plate {
          width: calc(100% / 2 - 30px);
        }
      }
    }
  }

  .user_orders {
    .dashboard_side_menu {
      display: none;
    }

    main {
      #dashboard_orders {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .user_orders {
    main {
      height: auto;

      #dashboard_orders {
        flex-direction: column;
        .dashboard_orders_left {
          width: 100%;
          height: 350px;
          overflow-y: auto;
          border: 0;
        }
        .dashboard_orders_right {
          width: 100%;

          .dashboard_orders_right_bottom {
            border-bottom: 2px solid $secondColorUser;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .dashboard {
    main {
      #dashboard_index_center {
        width: 100%;
        height: 100%;
        .dashboard_card {
          width: 100%;
          height: 100%;
          &.orders_list {
            height: 300px;

            .orders_card {

              .orders_card_total_price {
                span.price_span {
                  margin-right: 0;              
                }
              }
            }

          }
        }
      }
    }
  }

  .restaurant_edit, .user_create {
    main {
      padding-left: 10px;
      padding-right: 10px;

      .container {
        h2 {
          text-align: center;
        }
      }
    }
  }

  .plates_index {
    main {
      .plates_bottom {
        justify-content: center;
        width: 100%;
        .plate {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .user_orders {

    main {

      #dashboard_orders {

        .dashboard_orders_left {

          .orders_card {
            display: flex;
            flex-direction: column;

            .orders_card_left {
              width: 100%;
              font-size: 14px;

              p { 
                margin: 5px;
              }
            }

            .orders_card_right {
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;

              ul {
                display: flex;

                li {
                  width: calc(100% / 2 - 10px);
                  margin: 5px;
  
                  img {
                    width: 100%;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 5px;
                  }
  
                  p {
                    margin: 0;
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .restaurant_edit {
    main {
      img {
        display: block;
        margin: 10px auto;
      }
    }
  }
}

.open {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  padding: 20px;
  background-color: rgb(247, 105, 105);
  z-index: 999;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0px 8px 10px -8px #888888;
}

#dropdown_menu {
  .header_buttons {
    display: block;
    width: 100%;
    color: $delivebooColor;
    font-size: 19px;
    padding: 5px 20px;
    margin: 10px 0;
    text-align: center;
    background-color:white;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 8px 10px -6px #a75a5a;
    transition: all 0.4s;
    &:hover {
      color: white;
      background-color:  #ff5c5c;
      border: 1px solid white;
      box-shadow: none;
    }
  }
}