header {
  background-color: $delivebooColor;

  #hamurger_menu_container {
    display: none;
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    .header_left {
      height: 100%;
  
      .logo_img {
        height: 100%;
      }
    }
  }

  .header_buttons {
    @include deliveboo_buttons;
    width: fit-content;
    margin-left: 20px;
  }

  @include hamburger_dropdown;
}
.closed {
  display: none;
}




@media screen and (max-width: 767px) {
    header {

      #hamurger_menu_container {
        display: block;
      }

      #header_buttons_section {
        display: none;
      }

      .header_buttons {
        display: block;
      }
      
    }

    .closed {
      display: none;
    }

    .open {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: absolute;
      right: 0;
      padding: 20px;
      background-color: rgb(247, 105, 105);
      z-index: 999;
      border-radius: 5px;
      box-shadow: 0px 8px 10px -8px #888888;
    }

    #dropdown_menu {
      .header_buttons {
        display: block;
        width: 100%;
        color: $delivebooColor;
        font-size: 19px;
        padding: 5px 20px;
        margin: 10px 0;
        text-align: center;
        background-color:white;
        border-radius: 5px;
        border: 1px solid white;
        box-shadow: 0px 8px 10px -6px #a75a5a;
        transition: all 0.4s;
        &:hover {
          color: white;
          background-color:  #ff5c5c;
          border: 1px solid white;
          box-shadow: none;
        }
      }
    }
}
