@mixin deliveboo_buttons {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $delivebooColor;
  font-size: 19px;
  padding: 5px 20px;
  background-color:white;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 8px 10px -6px #a75a5a;
  transition: all 0.4s;
  &:hover {
    color: white;
    background-color:  #ff5c5c;
    border: 1px solid white;
    box-shadow: none;
  }
}

@mixin deliveboo_buttons_side {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 19px;
  padding: 5px 20px;
  background-color:$delivebooColor;
  border-radius: 5px;
  box-shadow: 0px 8px 10px -6px #a75a5a;
  transition: all 0.4s;
  border: 0;
  &:hover {
    color: $delivebooColor;
    background-color:  white;
    box-shadow: none;
    border: 0;
  }
}

@mixin search-shadow {
  &::before, &::after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  &::after
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}

@mixin hamburger_dropdown {
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 2;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
}



