$delivebooColor: #f2474d;

$titleColor: #f6bfc2;

$titlesFont: 'Oswald', sans-serif;

$smallTextFont: 'Lato', sans-serif;

$verticalPaddingSections: 40px 0;

$verticalPaddingSectionsMedia: 0;

$footerColor: #26272b;

$footerTextColor: #737373;

$shopRestaurantSmallText: #828585;

$secondColorClient: #0EC5BF;

$secondColorUser: #ffc966b9;